<!-- Footer -->
  <footer id="footer">
      <div class="row footer-row1">
          <!--div class="col-lg-12"-->

        <div class="col-lg-6" align="center">
<h3><u>Liens utiles</u>:</h3><br>


<%= link_to "A propos", apropos_path %><br>
<%= link_to "Nos activités", activities_path %><br>
<%= link_to "Actualité", actualites_path %><br>
<%= link_to "Galerie", galerie_path %><br>
<%= link_to "Contact",new_contact_path %><br>


</div>

        <div class="col-lg-6 footer-col2" align="center">
        <h3><u>Contact</u>:</h3>
        <p>
            Centre Terrou Xaleyi<br>Cité André KENY, Villa N° 19 - Lot 45,<br> Rufisque-Sénégal<br>
        </p>
        <p><i class="fa fa-phone"></i>
            : (+221) 77 538 06 89</p>
        <p><i class="fa fa-phone"></i>
                : (+221) 70 333 51 36</p>
        <p><i class="fa fa-phone"></i>
                      : (+221) 77 052 30 39</p>
        <p><i class="fa fa-envelope-o"></i>
            <a href="mailto:aprer12@hotmail.fr">aprer12@hotmail.fr</a>
        </p>
        <p><i class="fa fa-envelope-o"></i>
            <a href="mailto:diemeatabou@yahoo.fr">diemeatabou@yahoo.fr</a>
        </p>
        <ul class="list-unstyled list-inline list-social-icons">
            <li>
                <a href="#" class="btn btn-social-icon btn-facebook">
                      <span class="fa fa-facebook"></span>
                    </a></i></a>
            </li>
            <li>
              <a href="#" class="btn btn-social-icon btn-linkedin">
                    <span class="fa fa-linkedin"></span>
                  </a>
            </li>
            <li>
              <a href="#" class="btn btn-social-icon btn-twitter">
                    <span class="fa fa-twitter"></span>
                  </a>
            </li>
            <li>
              <a href="#" class="btn btn-social-icon btn-google">
                    <span class="fa fa-google"></span>
                  </a>
            </li>
        </ul>
        </div>

          <!--/div-->
      </div>
      <div class="row footer-row1" align="center">
        <br>
        <span><span class="A">A</span>SSOCIATION POUR LA <span class="P">P</span>ROTECTION ET LA <span class="R">R</span>EINSERTION DES <span class="E">E</span>NFANTS DE LA <span class="R2">R</span>UE </span>
        <br><p>Un enfant - Un toit - Une éducation</p>
        <img src="../../logo/APRER(crop-v1).png" width="110px"   alt="Logo"/>
      </div>

      <div class="row footer-row2">

          &nbsp Copyright &copy; 2017  APRER
          <span id="designed" class="designed">Designed by <a href="www.wango.sn">Wango</a></span>

      </div>
  </footer>
