<div class="container-fluid">
  <div class="row">

<div class="col-lg-12">
    <div class="col-lg-2">
      <!-- logo -->
      <div class="logo2" id="logo2">  <img src="../../logo/APRER(crop-v1).png" height="105px"  alt="Logo"></div>
      <!-- logo-->
    </div>
    <div class="col-lg-7" align = "center">
            <em><span class="A">A</span>ssociation pour la <span class="P">P</span>rotection et la <span class="R">R</span>éinsertion des <span class="E">E</span>nfants de la <span class="R2">R</span>ue</em>
    </div>
    <div class="col-lg-3 nav-social" id="nav-social">
    <!-- social icon-->
    <ul class="list-unstyled list-inline list-social-icons">
        <li>
            <a href="#" class="btn btn-social-icon btn-facebook">
                  <span class="fa fa-facebook"></span>
                </a></i></a>
        </li>
        <li>
          <a href="#" class="btn btn-social-icon btn-linkedin">
                <span class="fa fa-linkedin"></span>
              </a>
        </li>
        <li>
          <a href="#" class="btn btn-social-icon btn-twitter">
                <span class="fa fa-twitter"></span>
              </a>
        </li>
        <li>
          <a href="#" class="btn btn-social-icon btn-google">
                <span class="fa fa-google"></span>
              </a>
        </li>
    </ul>
    </div>
<!-- social icon-->
</div></div>
</div>

  <!-- Navigation -->
  <nav id="nav" class="navbar navbar-inverse navbar-static-top navigation" role="navigation" >
      <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a href="<%= root_path %>"><i class="fa fa-home homedis navbar-brand" aria-hidden="true"></i></a>
              <a class="navbar-brand branddis" href="<%= root_path %>"><span><span class="A">A</span> <span class="P">P</span> <span class="R">R</span> <span class="E">E</span> <span class="R2">R</span> </span></a>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                  <li>
                      <%= link_to "A propos", apropos_path %>
                  </li>
                  <li>
                      <%= link_to "Nos activités", activities_path %>
                  </li>
                  <li>
                      <%= link_to "Actualité", actualites_path %>
                  </li>
                  <li>
                      <%= link_to "Galerie", galerie_path %>
                  </li>
                  <li>
                      <%= link_to "Contact", new_contact_path %>
                  </li>
                    <% if user_signed_in? || admin_signed_in? %>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Mon compte<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <%= link_to "Dashboard", articles_path %>
                            </li>
                            <li>
                                <%= link_to "Se deconnecter", destroy_admin_session_path, method: :delete%>
                            </li>
                            <% if admin_signed_in? %>
                            <li>
                                <%= link_to "Modifier", edit_admin_registration_path %>
                            </li>
                            <% end %>
                        </ul>
                   </li>
                      <% end %>
              </ul>
          </div>
          <!-- /.navbar-collapse -->
      </div>
      <!-- /.container -->
  </nav>
